body{
    background-color: lightgray;
}
.fa{
    color:rgba(47, 23, 155, 0.753);
}

.box-part{
    background-color: white;
    margin: 30px 5px;
    padding: 60px 10px;
}
.text{
    margin: 20px 0px;
}

.box{
    padding: 60px 0px;
}